body, html {height: 100%} 
body,h1,h2,h3,h4,h5,h6 {font-family: "Amatic SC", sans-serif}
h1 {
  margin-bottom:64px
}
.menu {display: none}
.bgimg {
  background-repeat: no-repeat;
  background-image: url("../images/bk/bk-large-white-logo-45pct.png");
  background-position: top;
  min-height: 95%;
}
.bk-ul {
  list-style-type: none;
}
#bkSidebar {
  font-family: none;
}
#growing {
  max-width:800px
}

/* media queries */
@media (max-width: 996px) {
  .bgimg{
    background-repeat: no-repeat;
    background-image: url("../images/bk/bk-mq650-white-logo.png");
    min-height: 95%;
  }
}
@media (max-width: 430px) {
  .bgimg{
    background-repeat: no-repeat;
    background-image: url("../images/pigeonpeayes\ FO4126C7743C2\ 2-02.jpeg");
    min-height: 95%;
  }
  #mission {
    font-size: 85%;
  }
  /* 344 width needs logo adjustments and so do heights less than 601 */
}

