a:link {
  text-decoration: none;
}
article {
  clear: both;
  overflow: auto;
  width: 100%;
}
.bk-ul {
  list-style-type: none;
}
#bk_logo {
  position: relative;
  /* top: 10px; */
  top: 5%;
}
body, html {
  height: 100%;
} 
body,h1,h2,h3,h4,h5,h6 {
  font-family: "Trebuchet MS";
}
#filler {
  display: block;
  /* margin-top: 50px; */
  margin-top: 9%;
}
figure {
  float:left;
}
footer {
  background-color: #214865;
  color: white;
}

.main-content-margin-bottom {
  margin-bottom: 3.75%;
}
.main-content-margin-top {
  margin-top: -3%;
}

.p3barnav {
  /* margin-left: 80px;
  margin-bottom: 20px; */
  margin-left: 10%;
  margin-bottom: 5%;
}
.p3logo {
  float: left;
  /* padding-top: 50px;
  margin-bottom:20px; */
  padding-top: 4%;
  margin-bottom:4%;
}
#projnav {
  margin-left: 9%;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* ------------------------ media queries ------------------------*/
/* ---------- screen > 1026px -----------*/
@media (min-width: 1025px) {
  #about-title {
    font-size:2em;
  }
  #about-text {
    font-size:1.25em;
  }
  .logo { 
    float: left;
    /* margin-bottom:20px; */
    /* margin-bottom:.25%; */
  }
  #mission-content {
    font-size:2em;
    padding-left:20px;
    padding-left:20px;
  }
  .title {
    font-size: 3.5em;
    /* margin-left: 400px; */
    padding-top: 150px;
    margin-bottom: -10px;
    padding-top: 150px;
    margin-bottom: -10px;
  }
  .subtitle {
    font-size: 1.5em;
    margin: 0;
  }
}

/* ----------- screen < 1025px -----------*/
@media (max-width: 1024px) {
  #about-title {
    font-size:1.5em;
  }
  #about-text {
    font-size:1.00em;
  }
  #mission-content {
    font-size:1.5em;
    padding-left:20px;
    padding-left:20px;
  }
  .subtitle {
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 80px;
    margin-bottom: 80px;
  }
  .title {
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 0;
  }
}
/* ----------- screen < 601px -----------*/
@media (max-width: 600px) {
  .title {
    margin-left: 20px;
    margin-left: 20px;
    padding-top: 0px;
  }
}

