body, html {height: 100%} 
body,h1,h2,h3,h4,h5,h6 {font-family: "Trebuchet MS"}

h1 {
  margin-bottom:64px
}
/* .menu {display: none} */

footer {
  text-align: center;
  padding: 3px;
  background-color: #214865;
  color: white;
  padding: 15px;
}

.bk-ul {
  list-style-type: none;
}
#bkSidebar {
  /* font-family: none; */
}
.bk_subpage_title {
  position: relative;
  top: 200px;
  font-size: 1.5em;
}
#bk_logo {
  position: relative;
  top: 10px;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* media queries */
@media screen and (min-width: 1200px) {
  #bk_logo { 
    width: 600px;
    float: left;
  }
  #bk_title {
    margin-left: 400px;
    padding-top: 300px;
  }
}
@media (max-width: 996px) {
  #bk_mission {
    position: relative;
    top:150px;
    font-size: 1.25em;
  }
  #bk_logo {
    position: relative;
    top: 40px;
  }
}
@media (max-width: 600px) {
  #bk_mission {
  position: relative;
  top:0px;
  font-size: 1.25em;
}

}

