/** Blue Kitchen, Inc. CSS style sheet */
header, section, footer, aside, nav, article, figure, figcaption {
  display: block;
}
body {
  color: #1f4a64;
  background-color: #e2d3b2;
  background-position: center;
  font-family: Georgia, Times, serif;
  line-height: 1.4em;
  margin: 0px;
}
.wrapper {
  width: 1475px;
  margin: 20px auto 20px auto;
  border: 2px solid #000000;
  background-color: #ffffff;
}
#header-img {
  height: 180px;
  background-image: url("../images/bk-white-logo.JPG");
  background-repeat:no-repeat;
}
.kitchen-pic {
  height: 180px;
  background-image: url("../images/bluekitchencropped.jpg");
  background-repeat:no-repeat;
  margin-left: 10px; 
}
header h4 {
  margin-left: 200px;
}
h1 {
  text-indent: 0px;
  width: 740px;
  height: 40px;
  margin: 0px;
  padding-left:150px;
  padding-top: 50px;
}
nav, footer {
  clear: both;
  color: #ffffff;
  background-color: #aeaca8;
  height: 30px;
  margin-top: 30px;
}
nav ul {
  margin: 0px;
  padding: 5px 0px 5px 30px;
}
nav li {
  display: inline;
  margin-right: 40px;
  font-size:larger;
}
nav li a {
  color: #ffffff;
}
nav li a:hover, nav li a.current {
  color: #000000;
}
section.nav-section{
  float: left;
  width: 340px;
  border-right: 1px solid #b0b0b0;
}

article {
  clear: both;
  overflow: auto;
  width: 100%;
}
/* hgroup {

} */
figure {
  float: left;
  width: 290px;
  height: 220px;
  padding: 5px;
  margin: 20px;
  border: 1px solid #eeeeee;
}
figcaption {
  font-size: 90%;
  text-align: left;
}
aside {
  width: 659px;
  float: left;
  padding: 0px 0px 0px 20px;
  margin-top: 20px;
}

aside section a {
  display: block;
  padding: 10px;
  border-bottom: 1px solid #eeeeee;
}
aside section a:hover {
  color: #985d6a;
  background-color: #eeeeee;
}
a {
  color: #1f4a64;
  text-decoration: none;
}
a:hover {
  color: #4297c5;
}

h1, h2, h3, h4 {
  font-weight: normal;
}
h2 {
  margin: 10px 0px 5px 0px;
  padding: 0px;
}
h3 {
  margin: 0px 0px 10px 0px;
  color: #de6581;
}
h4 {
  margin: 0px 0px 10px 0px;
}
aside h2 {
  padding: 30px 0px 10px 0px;
}
footer {
  font-size: 80%;
  padding: 7px 0px 0px 20px;
}
footer a {
  float: right;
  margin-right: 20px;
}
.container {
  width: 100%;
}

/* cookbook nav style */
.cb-nav-links ul {
  list-style-type: none;
}

/* can we make this caret more dainty? */
.caret {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */
  transform: rotate(90deg);  
}
.title-underline {
  text-decoration: underline;
}

.nested {
  display: none;
}

.active {  
  display: block;
}


/* cookbook css */

.cb-nav-links a:hover {
  color: #4297c5;
}
/* Style all font awesome icons */
.fa {
  padding: 5px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-envelope {
  padding: 0px 14px;
  margin-left: -15px;
}

/* media queries */
/********** Large devices only **********/
@media (min-width: 1200px) {
  .wrapper {

  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header - this swaps out the header image.  This might be the answer!!!! */
  #logo-img {
    background: url('../images/restaurant-logo_medium.png') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }
  /* End Header */

  /* Home Page */
  .wrapper {

  }
  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
  .wrapper  {
    
  }
  /* End Home Page */
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { 
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { 
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img {
    height: 20px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  /* End Header */

  /* Footer */
  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }
  .panel-footer section:nth-child(3) {
    margin-bottom: 0; /* margin already exists on the whole row */
  }
  .panel-footer section hr {
    width: 50%;
  }
  /* End Footer */

  /* Home Page */
  .wrapper {
    margin-top: 30px;
    padding: 0;
  }
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { 
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */

  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}