/** Blue Kitchen, Inc. CSS style sheet */
header, section, footer, aside, nav, article, figure, figcaption {
  display: block;
}

body {
  font-family: 'Museo';
  font-size: 2rem;
  color: #22648d;
  background-color: #ffffff;
  margin: 2px;
  border: 4px solid #22648d;
  outline: 4px solid #ffffff;
};

.wrapper {
  margin: 0px auto;
}

#header-img {
  background-image: url("../images/bk-medium-white-logo.JPG");
  background-repeat:no-repeat;
  height: 235px;
  line-height: 2.5em;
  margin-top: 20px;
  margin-left:20px;
  margin-right:20px;
  margin-bottom:30px;
  padding-bottom: 20px;
  border-bottom: #1f4a64 solid 1px;
}

h1 {
  padding-left:350px;
  padding-top: 50px;
  color: #22648d;
  margin-bottom: -20px;
}

header h4 {
  padding-left: 400px;
  color: #22648d;
}

.project {
  width: 250px;
  float: left;
  height: 200px;
  align-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 20px;
}

img.align-center {
  display: block;
  margin: 0px auto;
}

figure {
  margin: 0px;
}

figcaption {
  text-align: center;
}

footer {
  clear: both;
  color: #ffffff;
  background-color: #22648d;
  height: 40px;
  margin-top: 20px;
}

#nav {
  clear: both;
  color: #22648d;
  float:right;
}

#nav ul {
  margin: 0px;
  padding: 5px 0px 5px 30px;
}

#nav li {
  display: inline;
  margin-right: 40px;
}

#nav li a {
  color: #22648d;
}

#nav li a:hover, #nav li a.current {
  color: #348d22;
}

.nav-section {
  width: 95%;
  margin-top: 70px;
  margin-left: 20px;
}

#main-content {
  width: 70%;
  float: left;
}

aside {
  /* width: 500px; */
  float: left;
  padding: 0px 0px 0px 20px;
  margin-top: 20px;
  /* border-left: 1px solid #b0b0b0; */
  font-size: 1.5rem;
}

aside h2 {
  padding: 30px 0px 10px 0px;
}

aside section a {
  display: block;
  padding: 10px;
  border-bottom: 1px solid #eeeeee;
}

aside section a:hover {
  color: #985d6a;
  background-color: #eeeeee;
}


a {
  color: #22648d;
  text-decoration: none;
}
a:hover {
  color: #4297c5;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

h2 {
  margin: 10px 0px 5px 0px;
  padding: 0px;
}

h3 {
  margin: 0px 0px 10px 0px;
  color: #de6581;
}

h4 {
  margin: 0px 0px 10px 0px;
}

footer {
  font-size: 80%;
  padding: 12px 0px 0px 20px;
}

footer a {
  float: right;
  margin-right: 20px;
}

.container {
  width: 100%;
}

/* can we make this caret more dainty? */
.caret {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.caret::before {
  content: "\25B8";
  color: #22648d;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */
  transform: rotate(90deg);  
}

.title-underline {
  text-decoration: underline;
}

.nested {
  display: none;
}

.cb-nav-links ul {
  list-style-type: none;
}

.cb-section {
  width: 95%;
  margin-top: 70px;
  margin-left: 20px;
}

#cb-content {
  width: 50%;
  float: left;
}

article {
  /* clear: both; */
  overflow: auto;
  padding-top: 50px;
}

.active {  
  display: block;
}

/* Style all font awesome icons */
.fa {
  padding: 5px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-envelope {
  padding: 0px 14px;
  margin-left: -15px;
}

.bk-ul {
  list-style-type: none;
}


/* media queries */
/********** Large devices only **********/
/* @media (min-width: 1200px) {
} */

/********** Medium devices only **********/
/* @media (min-width: 992px) and (max-width: 1199px) {
} */

/********** Small devices only **********/
/* @media (min-width: 768px) and (max-width: 991px) {
} */

/********** Extra small devices only **********/
/* @media (max-width: 767px) {
} */

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
/* @media (max-width: 479px) {
} */