
<div class="w3-quarter"><p></p></div>
<div class="w3-half">
  <p class="w3-center w3-xlarge">
      The Blue Kitchen Story
  </p>
  <p class="w3-large">
    Blue Kitchen, Inc. is a home-grown non-profit founded in our blue kitchen in the Spring of 2024.  
    We named it such as our blue kitchen is characteristically the center of our home where we gather to share nourishment and conversation.  
  </p>
  <p class="w3-large">
    The 2020 COVID-19 pandemic with its disruption to day-to-day life presented us with a unique opportunity to break routine, reflect on and 
    reevaluate how and where we were spending our time and set some new goals.  It also brought a staunch awareness of how quickly life can 
    change and how dependent we had become on so many of life's conveniences which were gone in an instant (ala toilet paper).  
  </p>
  <p class="w3-large"> 
    It was time to try new endeavours, adapt, be resourceful and resilient and learn how to convert abiguity and uncertainty into meaningfulness to 
    better our lives.
  </p>  
  <p class="w3-large"> 
    These are the things we wish to share.
  </p>
</div>
<div class="w3-quarter"><p></p></div>