    <div>
      <!-- <img src="images/bluekitchencropped.jpg" alt="Picture of kitchen" class="img-responsive"> -->
      <p>this will contain the blue kitchen home page content</p>
    </div>

    <!-- <div id="home-tiles" class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">

        <a href="#" onclick="$dc.loadMenuCategories();">
          <div id="menu-tile"><span>ingredients</span></div></a>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">        
        <a href="#" onclick="$dc.loadMenuItems('SP');">
          <div id="specials-tile"><span>directions</span></div>
        </a>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
        
        <a href="#" target="_blank">
          <div id="map-tile">
            <img src="images/spices.jpg" alt="Picture of restaurant" class="img-responsive">
            <span>haiku</span>
          </div>
        </a>
      </div>
    </div>End of #home-tiles -->