<div class="w3-quarter"><p></p></div>
<div class="w3-half">
  <p class="w3-center w3-xlarge">
      The Blue Kitchen Mission
  </p>
  <p class="w3-large">
    Our mission is to inspire, educate and empower members of vulnerable populations including LGBTQIA+ and allies, 
    the elderly and their caregivers, the disabled, the isolated, the sick and the imprisoned to improve their mental, 
    physical, neurological and financial health through means within their reach.
  </p>
</div>
<div class="w3-quarter"><p></p></div>