
<div class="main-content-margin-top w3-justify w3-padding-large">
  <p class="w3-center w3-xxlarge  w3-animate-left">
      Our Mission
  </p>
  <p class="w3-xlarge">
    Our mission is to inspire, educate and empower members of vulnerable populations including LGBTQIA+ and allies, 
    the elderly and their caregivers, the disabled, the isolated, the sick and the incarcerated to improve their mental, 
    physical, neurological and financial health through means within their reach.
  </p>
</div>

