<div class="cb-nav-links">

      <ul>
        <li onclick="$mc.toggleClass('A');"><span class="caret">Appetizers and Sides</span>
          <ul id="A" class="nested">
              <li>Bean Salsa</li>
              <li>Broccoli Bread</li>
              <li>Campground Mac and Cheese</li>
              <li>Lil’ Jimmy Harper’s Gag-a-Maggot</li>
              <li>Mating Call Roasted Veggies</li>
              <li>Refrigerator Rolls</li>
          </ul>
        </li>
        <li onclick="$mc.toggleClass('C');"><span class="caret">Chowders, Soups and Stews</span>
          <ul id="C" class="nested">
              <li>Broccoli Potato Cheese Soup</li>
              <li>Island Corn Chowder</li>
              <li>Carrot Soup</li>
              <li>Chicken and Dumplings</li>
              <li>Potato Soup</li>
              <li>Quick Soup</li>
              <li>True Love Soup</li>
              <li>Vegetarian Chikn Noodle Soup</li>
              <li>Vegetarian Almost Gumbo</li>
          </ul>
        </li>
        <li onclick="$mc.toggleClass('Y');"><span class="caret">Desserts</span>
          <ul id="Y" class="nested">
            <a href="#">
              <li>Aunt Rose’s Pound Cake</li>
            </a>
            <a href="#">
              <li>Banana Nog</li>
            </a>  
            <a href="#">
              <li>Bananas for Banana Bread</li>
            </a>  
            <a href="#">
              <li>Coconut Rice Pudding</li>
            </a>  
            <a href="#">
              <li>Craisin Balls</li>
            </a>  
            <a href="#">
              <li>DIY Brownies</li>
            </a>  
            <a href="#">
              <li>“Pound-less” Cake</li>
            </a>  
            <a href="#">
              <li>Pumpkin Bread</li>
            </a>
            <a href="#">
              <li>Rainbow Cheesecake</li>
            </a>  
          </ul>
        </li>
        <li onclick="$mc.toggleClass('D');"><span class="caret">Dressings, Marinades and Sauces</span>
          <ul id="D" class="nested">
            <a href="#">
              <li>Alfredo Sauce</li>
              <li>Cajun Cocktail Sauce</li>
              <li>Louisiana Marinade</li>
              <li>South Carolina Barbecue Sauces</li>
              <li>Urban Farm Dressing</li>
            </a>  
          </ul>
        </li>
        <li onclick="$mc.toggleClass('K');"><span class="caret">Main Dishes</span>
          <ul id="K" class="nested">
            <a href="#">
              <li>Butter Chicken</li>
              <li>Curry Anything</li>
              <li>Florida Hot Chicken</li>
              <li>Fried Fish Tacos</li>
              <li>Garlic-Seared Tofu</li>
              <li>No Bourbon Chicken</li>
              <li>Quiche</li>
              <li>Red Beans and Rice</li>
              <li>Shepherd’s Pie</li>
            </a>  
          </ul>
        </li>
        <li onclick="$mc.toggleClass('P');"><span class="caret">Picnics</span>
          <ul id="P" class="nested">
            <a href="#">
              <li>Fruit Palette</li>
              <li>Romaine Wraps</li>
            </a>  
          </ul>
        </li>
        <li onclick="$mc.toggleClass('S');"><span class="caret">Salads</span>
          <ul id="S" class="nested">
            <a href="#">
              <li>Carrot Salad</li>
              <li>Chickn Salad</li>
              <li>Cole Slaw</li>
              <li>Cucumber Salad</li>
            </a>  
          </ul>
        </li>
      </ul>
</div>

  


