<div class="cb-nav-links">

  <ul>
    <li onclick="$mc.toggleClass('A');"><span class="caret title">Appetizers and Sides</span>
      <ul id="A" class="nested">
        <a href="#" id="A0" onmouseenter="$mc.loadRecipeOverview('A0')" onmouseleave="$mc.clearArticle();">
          <li>Bean Salsa</li>
        </a>  
        <a href="#"  id="A1" onmouseenter="$mc.loadRecipeOverview('A1')" onmouseleave="$mc.clearArticle();">
          <li>Broccoli Bread</li>
        </a>  
        <a href="#"  id="A2" onmouseenter="$mc.loadRecipeOverview('A2')" onmouseleave="$mc.clearArticle();">
          <li>Campground Mac and Cheese</li>
        </a>  
        <a href="#"  id="A3" onmouseenter="$mc.loadRecipeOverview('A3')" onmouseleave="$mc.clearArticle();">  
          <li>Lil’ Jimmy Harper’s Gag-a-Maggot</li>
        </a>  
        <a href="#"  id="A4" onmouseenter="$mc.loadRecipeOverview('A4')" onmouseleave="$mc.clearArticle();">
          <li>Refrigerator Rolls</li>
        </a>  
        <a href="#"  id="A5" onmouseenter="$mc.loadRecipeOverview('A5')" onmouseleave="$mc.clearArticle();">
          <li>Roasted Veggie Prana</li>
        </a>  
      </ul>
    </li>
    <li onclick="$mc.toggleClass('C');"><span class="caret title">Chowders, Soups and Stews</span>
      <ul id="C" class="nested">
        <a href="#" id="C0" onmouseenter="$mc.loadRecipeOverview('C0')" onmouseleave="$mc.clearArticle();">
          <li>Broccoli Potato Cheese Soup</li>
        </a>  
        <a href="#" id="C1" onmouseenter="$mc.loadRecipeOverview('C1')" onmouseleave="$mc.clearArticle();">  
          <li>Island Corn Chowder</li>
        </a>  
        <a href="#" id="C2" onmouseenter="$mc.loadRecipeOverview('C2')" onmouseleave="$mc.clearArticle();">
          <li>Carrot Soup</li>
        </a>  
        <a href="#" id="C3" onmouseenter="$mc.loadRecipeOverview('C3')" onmouseleave="$mc.clearArticle();">
          <li>Chicken and Dumplings</li>
        </a>  
        <a href="#" id="C4" onmouseenter="$mc.loadRecipeOverview('C4')" onmouseleave="$mc.clearArticle();">
          <li>Potato Soup</li>
        </a>  
        <a href="#" id="C5" onmouseenter="$mc.loadRecipeOverview('C5')" onmouseleave="$mc.clearArticle();">
          <li>Quick Soup</li>
        </a>  
        <a href="#" id="C6" onmouseenter="$mc.loadRecipeOverview('C6')" onmouseleave="$mc.clearArticle();">
          <li>True Love Soup</li>
        </a>
        <a href="#" id="C7" onmouseenter="$mc.loadRecipeOverview('C8')" onmouseleave="$mc.clearArticle();">
          <li>Vegetarian Almost Gumbo</li>
        </a>  
        <a href="#" id="C8" onmouseenter="$mc.loadRecipeOverview('C7')" onmouseleave="$mc.clearArticle();">
          <li>Vegetarian Chikn Noodle Soup</li>
        </a>  
      </ul>
    </li>
    <li onclick="$mc.toggleClass('Y');"><span class="caret title">Desserts</span>
      <ul id="Y" class="nested">
        <a href="#" id="Y0" onmouseenter="$mc.loadRecipeOverview('Y0')" onmouseleave="$mc.clearArticle();">
          <li>Aunt Rose’s Pound Cake</li>
        </a>
        <a href="#" id="Y1" onmouseenter="$mc.loadRecipeOverview('Y1')" onmouseleave="$mc.clearArticle();">
          <li>Banana Nog</li>
        </a>  
        <a href="#" id="Y2" onmouseenter="$mc.loadRecipeOverview('Y2')" onmouseleave="$mc.clearArticle();">
          <li>Bananas for Banana Bread</li>
        </a>  
        <a href="#" id="Y3" onmouseenter="$mc.loadRecipeOverview('Y3')" onmouseleave="$mc.clearArticle();">
          <li>Coconut Rice Pudding</li>
        </a>  
        <a href="#" id="Y4" onmouseenter="$mc.loadRecipeOverview('Y4')" onmouseleave="$mc.clearArticle();">
          <li>Craisin Balls</li>
        </a>  
        <a href="#" id="Y5" onmouseenter="$mc.loadRecipeOverview('Y5')" onmouseleave="$mc.clearArticle();">
          <li>DIY Brownies</li>
        </a>  
        <a href="#" id="Y6" onmouseenter="$mc.loadRecipeOverview('Y6')" onmouseleave="$mc.clearArticle();">
          <li>“Pound-less” Cake</li>
        </a>  
        <a href="#" id="Y7" onmouseenter="$mc.loadRecipeOverview('Y7')" onmouseleave="$mc.clearArticle();">
          <li>Pumpkin Bread</li>
        </a>
        <a href="#" id="Y8" onmouseenter="$mc.loadRecipeOverview('Y8')" onmouseleave="$mc.clearArticle();">
          <li>Rainbow Cheesecake</li>
        </a>  
      </ul>
    </li>
    <li onclick="$mc.toggleClass('D');"><span class="caret title">Dressings, Marinades and Sauces</span>
      <ul id="D" class="nested">
        <a href="#" id="D0" onmouseenter="$mc.loadRecipeOverview('D0')" onmouseleave="$mc.clearArticle();">
          <li>Alfredo Sauce</li>
        </a>  
        <a href="#" id="D1" onmouseenter="$mc.loadRecipeOverview('D1')" onmouseleave="$mc.clearArticle();">  
          <li>Cajun Cocktail Sauce</li>
        </a>  
        <a href="#" id="D2" onmouseenter="$mc.loadRecipeOverview('D2')" onmouseleave="$mc.clearArticle();">
          <li>Louisiana Marinade</li>
        </a>  
        <a href="#" id="D3" onmouseenter="$mc.loadRecipeOverview('D3')" onmouseleave="$mc.clearArticle();">
          <li>South Carolina Barbecue Sauces</li>
        </a>  
        <a href="#" id="D4" onmouseenter="$mc.loadRecipeOverview('D4')" onmouseleave="$mc.clearArticle();">
          <li>Urban Farm Dressing</li>
        </a>  
      </ul>
    </li>
    <li onclick="$mc.toggleClass('K');"><span class="caret title">Main Dishes</span>
      <ul id="K" class="nested">
        <a href="#" id="K0" onmouseenter="$mc.loadRecipeOverview('K0')" onmouseleave="$mc.clearArticle();">
          <li>Anything Curry</li>
        </a>  
        <a href="#" id="K1" onmouseenter="$mc.loadRecipeOverview('K1')" onmouseleave="$mc.clearArticle();">
          <li>Butter Chicken</li>
        </a>  
        <a href="#" id="K2" onmouseenter="$mc.loadRecipeOverview('K2')" onmouseleave="$mc.clearArticle();">
          <li>Florida Hot Chicken</li>
        </a>  
        <a href="#" id="K3" onmouseenter="$mc.loadRecipeOverview('K3')" onmouseleave="$mc.clearArticle();">
          <li>Fried Fish Tacos</li>
        </a>  
        <a href="#" id="K4" onmouseenter="$mc.loadRecipeOverview('K4')" onmouseleave="$mc.clearArticle();">
          <li>Garlic-Seared Tofu</li>
        </a>  
        <a href="#" id="K5" onmouseenter="$mc.loadRecipeOverview('K5')" onmouseleave="$mc.clearArticle();">
          <li>No Bourbon Chicken</li>
        </a>  
        <a href="#" id="K6" onmouseenter="$mc.loadRecipeOverview('K6')" onmouseleave="$mc.clearArticle();">
          <li>Quiche</li>
        </a>
        <a href="#" id="K7" onmouseenter="$mc.loadRecipeOverview('K7')" onmouseleave="$mc.clearArticle();">
          <li>Red Beans</li>
        </a>   
        <a href="#" id="K8" onmouseenter="$mc.loadRecipeOverview('K8')" onmouseleave="$mc.clearArticle();">
          <li>Red Beans and Rice</li>
        </a>  
        <a href="#" id="K9" onmouseenter="$mc.loadRecipeOverview('K9')" onmouseleave="$mc.clearArticle();">
          <li>Shepherd’s Pie</li>
        </a>  
      </ul>
    </li>
    <li onclick="$mc.toggleClass('P');"><span class="caret title">Picnics</span>
      <ul id="P" class="nested">
        <a href="#" id="P0" onmouseenter="$mc.loadRecipeOverview('P0')" onmouseleave="$mc.clearArticle();">
          <li>Fruit Palette</li>
        </a>  
        <a href="#" id="P1" onmouseenter="$mc.loadRecipeOverview('P1')" onmouseleave="$mc.clearArticle();">
          <li>Romaine Wraps</li>
        </a>  
      </ul>
    </li>
    <li onclick="$mc.toggleClass('S');"><span class="caret title">Salads</span>
      <ul id="S" class="nested">
        <a href="#" id="S0" onmouseenter="$mc.loadRecipeOverview('S0')" onmouseleave="$mc.clearArticle();">
          <li>Carrot Salad</li>
        </a>  
        <a href="#" id="S1" onmouseenter="$mc.loadRecipeOverview('S1')" onmouseleave="$mc.clearArticle();">
          <li>Chickn Salad</li>
        </a>
        <a href="#" id="S2" onmouseenter="$mc.loadRecipeOverview('S2')" onmouseleave="$mc.clearArticle();">
          <li>Cole Slaw</li>
        </a>
        <a href="#" id="S3" onmouseenter="$mc.loadRecipeOverview('S3')" onmouseleave="$mc.clearArticle();">
          <li>Cucumber Salad</li>
        </a>  
      </ul>
    </li>
  </ul>
</div>