
<div>

      <ul class="bk-ul">
        <li onclick="$mc.toggleClass('A');"><span class="caret title">Appetizers and Sides</span>
          <ul id="A" class="nested">
            <li id="A0" onclick="$mc.addRecipePhoto(id);">Bean Salsa</li>
            <li id="A1" onclick="$mc.addRecipePhoto(id);">Broccoli Bread</li>
            <li id="A2" onclick="$mc.addRecipePhoto(id);">Campground Mac and Cheese</li>
            <li id="A3" onclick="$mc.addRecipePhoto(id);">Lil’ Jimmy Harper’s Gag-a-Maggot</li>
            <li id="A4" onclick="$mc.addRecipePhoto(id);">Refrigerator Rolls</li>
            <li id="A5" onclick="$mc.addRecipePhoto(id);">Veggie Prana</li>
          </ul>
        </li>
        <li onclick="$mc.toggleClass('C');"><span class="caret title">Chowders, Soups and Stews</span>
          <ul id="C" class="nested">
            <li id="C0" onclick="$mc.addRecipePhoto(id);">Broccoli Potato Cheese Soup</li>
            <li id="C1" onclick="$mc.addRecipePhoto(id);">Island Corn Chowder</li>
            <li id="C2" onclick="$mc.addRecipePhoto(id);">Carrot Soup</li>
            <li id="C3" onclick="$mc.addRecipePhoto(id);">Chicken and Dumplings</li>
            <li id="C4" onclick="$mc.addRecipePhoto(id);">Potato Soup</li> 
            <li id="C5" onclick="$mc.addRecipePhoto(id);">Quick Soup</li>
            <li id="C6" onclick="$mc.addRecipePhoto(id);">True Love Soup</li>
            <li id="C7" onclick="$mc.addRecipePhoto(id);">Vegetarian Chikn Noodle Soup</li> 
            <li id="C8" onclick="$mc.addRecipePhoto(id);">Vegetarian Almost Gumbo</li> 
          </ul>
        </li>
        <li onclick="$mc.toggleClass('Y');"><span class="caret title">Desserts</span>
          <ul id="Y" class="nested">
            <li id="Y0" onclick="$mc.addRecipePhoto(id);">Aunt Rose’s Pound Cake</li>
            <li id="Y1" onclick="$mc.addRecipePhoto(id);">Banana Nog</li>
            <li id="Y2" onclick="$mc.addRecipePhoto(id);">Bananas for Banana Bread</li> 
            <li id="Y3" onclick="$mc.addRecipePhoto(id);">Coconut Rice Pudding</li>
            <li id="Y4" onclick="$mc.addRecipePhoto(id);">Craisin Balls</li>
            <li id="Y5" onclick="$mc.addRecipePhoto(id);">DIY Brownies</li>
            <li id="Y6" onclick="$mc.addRecipePhoto(id);">“Pound-less” Cake</li>
            <li id="Y7" onclick="$mc.addRecipePhoto(id);">Pumpkin Bread</li>
            <li id="Y8" onclick="$mc.addRecipePhoto(id);">Rainbow Cheesecake</li>
          </ul>
        </li>
        <li onclick="$mc.toggleClass('D');"><span class="caret title">Dressings, Marinades and Sauces</span>
          <ul id="D" class="nested">
            <li id="D0" onclick="$mc.addRecipePhoto(id);">Alfredo Sauce</li>
            <li id="D1" onclick="$mc.addRecipePhoto(id);">Cajun Cocktail Sauce</li>
            <li id="D2" onclick="$mc.addRecipePhoto(id);">Louisiana Marinade</li> 
            <li id="D3" onclick="$mc.addRecipePhoto(id);">South Carolina Barbecue Sauces</li> 
            <li id="D4" onclick="$mc.addRecipePhoto(id);">Urban Farm Dressing</li> 
          </ul>
        </li>
        <li onclick="$mc.toggleClass('K');"><span class="caret title">Main Dishes</span>
          <ul id="K" class="nested">
            <li id="K0" onclick="$mc.addRecipePhoto(id);">Anything Curry</li>
            <li id="K1" onclick="$mc.addRecipePhoto(id);">Butter Chicken</li>
            <li id="K2" onclick="$mc.addRecipePhoto(id);">Florida Hot Chicken</li>
            <li id="K3" onclick="$mc.addRecipePhoto(id);">Fried Fish Tacos</li>
            <li id="K4" onclick="$mc.addRecipePhoto(id);">Garlic-Seared Tofu</li>
            <li id="K5" onclick="$mc.addRecipePhoto(id);">No Bourbon Chicken</li>
            <li id="K6" onclick="$mc.addRecipePhoto(id);">Quiche</li>
            <li id="K7" onclick="$mc.addRecipePhoto(id);">Red Beans</li>
            <li id="K8" onclick="$mc.addRecipePhoto(id);">Red Beans and Rice</li>
            <li id="K9" onclick="$mc.addRecipePhoto(id);">Shepherd’s Pie</li> 
          </ul>
        </li>
        <li onclick="$mc.toggleClass('P');"><span class="caret title">Picnics</span>
          <ul id="P" class="nested">
            <li id="P0" onclick="$mc.addRecipePhoto(id);">Fruit Palette</li>
            <li id="P1" onclick="$mc.addRecipePhoto(id);">Romaine Wraps</li>
          </ul>
        </li>
        <li onclick="$mc.toggleClass('S');"><span class="caret title">Salads</span>
          <ul id="S" class="nested">
            <li id="S0" onclick="$mc.addRecipePhoto(id);">Carrot Salad</li>
            <li id="S1" onclick="$mc.addRecipePhoto(id);">Chickn Salad</li>
            <li id="S2" onclick="$mc.addRecipePhoto(id);">Cole Slaw</li>
            <li id="S3" onclick="$mc.addRecipePhoto(id);">Cucumber Salad</li> 
          </ul>
        </li>
      </ul>
</div>

  


