<article>
    <figure>
      <img src="" />
      <figcaption></figcaption>
    </figure>
    <hgroup>
      <h2>Drum for Life Videos</h2>
    </hgroup>
    <ul class="dfl-ul">
      <a href="#">
        <li><h3>dfl vid 1</h3></li>
      </a>
      <a href="#">
        <li><h3>dfl vid 2</h3></li>
      </a>
      <a href="#">
        <li><h3>dfl vid 3</h3></li>
      </a>
      <a href="#">
        <li><h3>dfl vid 4</h3></li>
      </a>       
    </ul>
  </article>
  <article>
    <figure>
      <img src="" alt="" />
      <figcaption></figcaption>
    </figure>
    <hgroup>
      <h2>Drum for Life Stories</h2>
    </hgroup>
    <ul class="dfl-ul">
      <a href="#">
        <li><h3>Story 1</h3></li>
      </a>
      <a href="#">
        <li><h3>Story 2</h3></li>
      </a>    
      
    </ul>
  </article>
