        <ul class = "bk-ul">
            <li><a href="">Frequently Asked Questions (FAQ)</a></li>
            <li><a href="">For Home Owners</a></li>
            <li><a href="">For Tenants</a></li>
            <li><a href="">For Landlords</a></li>
            <li><a href="">Recipes</a></li>
            <li><a href="">Additional Resources</a></li>
            <li><a href="">Photo Gallery</a></li>
            <li><a href="">Calendar</a></li>
            <li><a href="">Events</a></li>
        </ul>  

