<article>
    <figure>
      <img src="images/p3/IMG_2716.jpg" />
      <figcaption>Baby Pigeon Pea</figcaption>
    </figure>
    <hgroup>
      <h2>Pigeon Pea Project Videos</h2>
    </hgroup>
    <ul class="bk-ul">
      <a href="#">
        <li><h3>Grow pigeon peas in your Florida yard</h3></li>
      </a>
      <a href="#">
        <li><h3>How to make Pigeon Pea Jambalaya</h3></li>
      </a>
      <a href="#">
        <li><h3>Pigeon Pea Project Food Foresting</h3></li>
      </a>
      <a href="#">
        <li><h3>Why Pigeon Peas?</h3></li>
      </a>       
    </ul>
  </article>
  <article>
    <figure>
      <img src="images/p3/IMG_2559.jpg" alt="TOB Backyard" />
      <figcaption>East Orlando rental house</figcaption>
    </figure>
    <hgroup>
      <h2>Pigeon Pea Project Stories</h2>
    </hgroup>
    <ul class="bk-ul">
      <a href="#">
        <li><h3>Landlord and tenant cooperation yielding fantastic results</h3></li>
      </a>
      <a href="#">
        <li><h3>Landlord and tenant cooperation yielding fantastic results</h3></li>
      </a>    
      
    </ul>
  </article>
