<div class="w3-container w3-center w3-content w3-padding-24">
  <div class="w3-bar w3-light-grey">
    <div class="w3-row">
      <button
        id="0"
        class="w3-bar-item w3-button w3-mobile"
        onclick="$mc.openDoc(id, 'Sow')"
      >
        Sow
      </button>
      <button
        id="1"
        class="w3-bar-item w3-button w3-mobile"
        onclick="$mc.openDoc(id, 'Grow')"
      >
        Grow
      </button>
      <button
        id="2"
        class="w3-bar-item w3-button w3-mobile"
        onclick="$mc.openDoc(id, 'Share')"
      >
        Share
      </button>
      <button
        id="3"
        class="w3-bar-item w3-button w3-mobile"
        onclick="$mc.openDoc(id, 'Harvest')"
      >
        Harvest
      </button>
      <button
        id="4"
        class="w3-bar-item w3-button w3-mobile"
        onclick="$mc.openDoc(id, 'ChopDrop')"
      >
        Chop 'n' Drop
      </button>
      <button
        id="5"
        class="w3-bar-item w3-button w3-mobile"
        onclick="$mc.openDoc(id, 'Recipes')"
      >
        Prepare
      </button>
    </div>
    <div class="w3-row">
      <button
        id="6"
        class="w3-bar-item w3-button w3-mobile"
        onclick="$mc.openDoc(id, 'StartYourProject')"
      >
        Start Your Project
      </button>
      <button
        id="7"
        class="w3-bar-item w3-button w3-mobile"
        onclick="$mc.openDoc(id, 'GetInvolved')"
      >
        Get Involved
      </button>
      <button
        id="8"
        class="w3-bar-item w3-button w3-mobile"
        onclick="$mc.openDoc(id, 'FAQ')"
      >
        FAQ
      </button>
      <button
        id="9"
        class="w3-bar-item w3-button w3-mobile"
        onclick="$mc.openDoc(id, 'Resources')"
      >
        Resources
      </button>
    </div>
  </div>
</div>

<div id="Sow" class="p3-menu w3-row w3-padding w3-border" style="display: none">
  <h2 class="w3-center w3-sans-serif">How to sow pigeon peas</h2>
  <div class="w3-container w3-threequarter">
    <p class="w3-sans-serif w3-large w3-justify">
      Optional: Soak pea seeds overnight or scratch lightly with sandpaper.<br /><br />
      Ideally, sow seeds in late Spring for an October-November harvest although
      they may be sowed pretty much anytime. <br /><br />Sow dried pigeon pea
      seeds directly into the soil outdoors about 3/4-1 inch deep and
      approximately 3-4 feet between rows and 2 feet (at least) between seeds.
      <br /><br />Plants that are closer together will not grow as large as
      those with more space, so if smaller row plants are desired, sow closer
      together.
    </p>
  </div>
  <div class="w3-container w3-quarter">
    <img src="../images/p3/IMG_2669.jpg" class="w3-image w3-margin-top" />
  </div>
</div>

<div id="Grow" class="p3-menu w3-row w3-padding w3-border" style="display: none">
  <h2 class="w3-center w3-sans-serif">How to grow pigeon peas</h2>
  <div class="w3-container w3-threequarter">
    <p class="w3-sans-serif w3-large w3-justify">
      Water seeds lightly until sprout appears. Do not overwater. <br />
      Continue to water lightly every other day until plant is approximately 12
      inches tall.<br />
      Water every few days after this as they are very drought-tolerant.
      Requires about 140 days from seeding to harvest. <br />
    </p>
  </div>
  <div class="w3-container w3-quarter">
    <img src="../images/p3/IMG_2716.jpg" class="w3-image w3-margin-top" />
  </div>
</div>

<div id="Share" class="p3-menu w3-row w3-padding w3-border" style="display: none">
  <h2 class="w3-center w3-sans-serif">Ideas to share pigeon peas</h2>
  <div class="w3-container">
    <p class="w3-sans-serif w3-large w3-justify">
    Pigeon peas are so easy to grow that they can make excellent small potted
    gifts. They prefer to be transplanted when young since their roots grow deep
    and may be harmed during transplant, but regardless, be sure a take care
    with longer roots when transplanting. They also grow excellent from
    direct-sown seeds in the soil. As a prolific producer, sharing seeds for
    planting with friends, neighbors and community members is encouraged! They
    also will propagate from dropped peas, so don’t be surprised if baby
    “volunteer” trees begin growing. These can be easily mowed over or chopped
    with a machete and will nourish the soil. The main pigeon pea stem can also
    be used for fire-starting, able to be shared with neighbors who may have
    chimineas or firebowls and desire smaller first-starting sticks.
    </p>
  </div>
</div>

<div id="Harvest" class="p3-menu w3-row w3-padding w3-border" style="display: none">
  <h2 class="w3-center w3-sans-serif">When to harvest pigeon peas</h2>
  <div class="w3-container w3-threequarter">
    <p class="w3-sans-serif w3-large w3-justify">
      There are options to either harvest and shell the peas fresh or dried.
      Here are the two methods: For fresh pigeon peas, harvest when pods are
      bright green and feel full and filled out. They should be firm to the
      touch. Removing the peas from the pod by hand. Store unused peas in a
      freezer bag in the freezer for safe storage. For dried pigeon peas, which
      are much easier to release from the pod, allow the peas to dry in the pod,
      on or off the bush. When they have turned brown and are dried out, use a
      plastic bag or a screen to rough the pods against each other, allowing the
      peas to easily fall from their pods. Working the bag back and forth
      between your hands should separate pods from seeds easily. Toss the pods
      back into the garden to enrich the soil and store the loose dried pigeon
      peas in a jar. They may now be used as any other dried bean or pea.
    </p>
  </div>
  <div class="w3-container w3-quarter">
    <img src="../images/p3/IMG_2364.JPG" class="w3-image w3-margin-top" />
  </div>
</div>

<div id="Recipes" class="p3-menu w3-row w3-padding w3-border" style="display: none">
  <h2 class="w3-center w3-sans-serif">How to prepare Pigeon Peas</h2>
  <div class="w3-container">
    <p class="w3-sans-serif w3-large w3-justify">
    Pigeon peas have a firm texture and are not apt to become mushy unless
    cooked deliberately to that point. Cook as you might any other bean, in a
    pressure cooker, crockpot, or stove top. They are delicious simple with rice
    for a common dish of “Pigeon Peas and Rice,” or may be cooked, rinsed and
    used in pasta salads, turned into taco or burrito filling. Other uses for
    pigeon peas are to grind the dried peas into flour using a pulsing blender
    or coffee grinder. The resulting corn-meal like textured flour may be used
    as a “breading” on fried foods like dill pickles or chicken, or even used
    1/2, 1/2 with all-purpose flour for baked items like brownies. (We’ve
    actually made brownies with 100 percent pigeon pea flour and found them
    delicious!)
    </p>
  </div>
</div>

<div id="ChopDrop" class="p3-menu w3-row w3-padding w3-border" style="display: none">
  <h2 class="w3-center w3-sans-serif">The chop and drop method</h2>
  <div class="w3-container">
    <p class="w3-sans-serif w3-large w3-justify">
    Pigeon peas are known as “nitrogen fixers,” which means theyleave behind
    nitrogen into the soil in a form useful for plant life and microbes in the
    soil. For this reason, they make an excellent “green manure,” which is one
    of the easiest ways to enrich poor soil. Merely cut branches, leaves, or the
    entire plant and drop around the garden, under trees, etc. As it decomposes, 
    it nourishes the soil. This method is called “chop and dropping,” and is our 
    preferred method of dealing with “weeds,” and other unneeded plants in the 
    garden. Some may grow pigeon peas for their nitrogen fixing capabilities alone!
    </p>
  </div>
</div>

<div id="FAQ" class="p3-menu w3-row w3-padding w3-border" style="display: none">
  <h2 class="w3-center w3-sans-serif">Frequently Asked Questions</h2>
  <div class="w3-container">
    <ul class="w3-ul">
      <li>
        <p class="w3-sans-serif w3-large w3-justify">q: Will pigeon peas attract rodents?</p>
      </li>
    </ul>
  </div>
</div>

<div id="StartYourProject" class="p3-menu" style="display: none">
  <ul class="w3-ul w3-border">
    <li class="w3-center">
      <div class="tooltip">
        <a href="../artifacts/PlantingReference.pdf" download>
          Planting Reference <i class="fa fa-download" aria-hidden="true"></i>
        </a>
        <span class="tooltiptext w3-medium">Click to download</span>
      </div>
      <p class="w3-sans-serif w3-large">A guide for growing Pigeon Peas, Longevity Spinach and Everglade Tomatoes in your yard</p>
    </li>
  </ul>
</div>

<div id="GetInvolved" class="p3-menu w3-border" style="display: none">
  <h2 class="w3-center w3-sans-serif">Coming soon!</h2>
</div>

<div id="Resources" class="p3-menu" style="display: none">
  <h2 class="w3-center w3-sans-serif">Additional Resources</h2>
  <ul class="w3-ul w3-border">
    <li>
      <div class="tooltip">
        <a href="../artifacts/296_10_Lifting_eh_level_of_awareness_on__Pigeonpea.pdf" download>
          Lifting the Level of Awareness on Pigeonpea - A Global Perspective <i class="fa fa-download" aria-hidden="true"></i>
        </a>
        <span class="tooltiptext w3-medium">Click to download</span>
      </div>
      <p class="w3-sans-serif w3-large">A 542 page book by MG Mula and KB Saxena for the International Crops Research Institute for the Semi-Arid Tropics</p>
    </li>
  </ul>
</div>


