<p class="w3-justify w3-large w3-monospace w3-twothird">Options: Soak pea seeds overnight or scratch lightly with sandpaper.
  Ideally plant in late Spring for an October-November harvest, although they may be planted pretty much anytime.
</p>  
  <p class="w3-justify w3-large w3-monospace w3-twothird">Step 1.  Sow dried pigeon pea seed directly to soil outdoors about 3/4-1 inch deep approximately 3-4 feet between rows and 2 feet (at least) between plants. 
    Plants closer together will not grow as large as those with more space, so if smaller row plants are desired, plant closer together.</p>
  
  <p class="w3-justify w3-large w3-monospace w3-twothird">Step 2.  Water seed lightly until sprout appears. Do not overwater.</p>
  <p class="w3-justify w3-large w3-monospace w3-twothird">Step 3.  Continue to water lightly every other day until plant is approximately 12 inches tall.</p>
  <p class="w3-justify w3-large w3-monospace w3-twothird">Step 4.  Water every few days after this as they are very drought-tolerant. </p>
  
  <p class="w3-justify w3-large w3-monospace w3-twothird">Requires about 140 days from seeding to harvest.</p>
    <div class="more-articles container_12">
      <h2 class="grid_12"><a href="">More Articles</a></h2>
      <div class="grid_3">
        <img src="images/p3/IMG_2716.jpg" alt="Baby Pigeon Pea"/>
        <p><a href="">The Dirt on Soil</a></p>
        <p><a href="">Why Pigeon Peas</a></p>
        <p><a href="">Pigeon Pea Project Food Foresting</a></p>
      </div>
      <div class="grid_3">
        <img src="images/p3/IMG_2559.jpg" alt="TOB Backyard"/>
        <p><a href="">Landlord and Tenant Cooperation Yielding Fantastic Results</a></p>
        <p><a href="">Grow pigeon peas in your own backyard</a></p>
        <p><a href="">Pigeon Pea Project Food Foresting</a></p>
      </div>
      <div class="grid_3">
        <img src="images/p3/IMG_2364.jpg" alt="pigeon pea colander"/>
        <p><a href="">Pigeon Pea Stories</a></p>
        <p><a href="">Pigeon Pea Jambalaya</a></p>
        <p><a href="">Pigeon Pea Flour</a></p>
      </div>
    </div>