
    <div class="more-articles container_12">
      <h2 class="grid_12"><a href="">More Articles</a></h2>
      <div class="grid_3">
        <img src="images/p3/IMG_2716.jpg" alt="Baby Pigeon Pea"/>
        <p><a href="">The Dirt on Soil</a></p>
        <p><a href="">Why Pigeon Peas</a></p>
        <p><a href="">Pigeon Pea Project Food Foresting</a></p>
      </div>
      <div class="grid_3">
        <img src="images/p3/IMG_2559.jpg" alt="TOB Backyard"/>
        <p><a href="">Landlord and Tenant Cooperation Yielding Fantastic Results</a></p>
        <p><a href="">Grow pigeon peas in your own backyard</a></p>
        <p><a href="">Pigeon Pea Project Food Foresting</a></p>
      </div>
      <div class="grid_3">
        <img src="images/p3/IMG_2364.jpg" alt="pigeon pea colander"/>
        <p><a href="">Pigeon Pea Stories</a></p>
        <p><a href="">Pigeon Pea Jambalaya</a></p>
        <p><a href="">Pigeon Pea Flour</a></p>
      </div>
    </div>