<div class="">
    <div class="category-tile">
      <!-- <img width="200" height="200" src="images/menu/{{short_name}}/{{short_name}}.jpg" alt="{{name}}"> -->
      <img width="200" height="200" src="images/spices.jpg" alt="{{name}}">
    </div>
    <div class="category-tile">
      <span>{{recipeHaiku}}</span>
    </div>      
    <div class="category-tile">   
      <span>{{recipeIngredients}}</span>
    </div>     
    <div class="category-tile">  
      <span>{{recipeDirections}}</span>
    </div>
</div>
